body {
  background: #000000 url("https://static.vecteezy.com/ti/vetor-gratis/p3/2217896-cinema-wallpaper-social-media-message-vector-background-vetor.jpg");
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 255, 255);
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
  border: double;
  border-color: gold;
  padding: 35px;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.list-group-item{
  background-color: rgb(255, 242, 0);
  color: rgb(0, 0, 0);
}

.film-list{
  text-align: center;
}

.description{
  border: double;
  text-align: center;
  float: left;
  margin-top: 35px;
  padding: 35px;
}

.choice-movie{
  border: double;
  text-align: center;
  float: left;
  margin-top: 35px;
  padding: 35px;
}

.form-control{
  text-align: center;  
}

.btn-outline-secondary{
  background-color: rgb(255, 242, 0);
  color: rgb(0, 0, 0);
}
.input-group{
  margin-top: -60px;
  margin-left: 800px;
}