body {
  background-color: rgb(121, 34, 2);
  font-family: 'Arial', Times, serif;
  color: rgb(0, 0, 0);
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
